.character__portrait {
    width: 20%
}

.character__Title {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.character__Stats {
    width: 75%;
    margin: 0 1em;
}

.character__image {
    width: 100%;
    height: auto;
    border-radius: 10px;
}