.App {
  text-align: center;
}

.flexContainer {
  display: flex;
  flex-wrap: wrap;
  max-width: 1080px;
  margin: 0 auto;
}

.flexItem {
  width: 20%;
  padding: 1rem;
}

.image {
  height: auto;
  width: 100%
}